---
import ListCategories from '@/components/ListCategories'
import ListPosts from '@/components/ListPosts'
import TitlePage from '@/components/TitlePage'
import BaseLayout from '@/layouts/BaseLayout'
import { getPosts } from '@/utils'
import { siteConfig } from '@/site-config'
const MAX_POSTS = 10000 // max number of posts to show on the home page
const posts = await getPosts(MAX_POSTS)
---

<BaseLayout title='Trang chủ'>
	<TitlePage title={siteConfig.title} />
	<ListCategories />
	<div>
		<h2 class='text-lg font-medium tracking-wide text-end'>Mới cập nhật</h2>
		<ListPosts FirstBig={false} posts={posts} />
	</div>
</BaseLayout>
