---
import BaseLayout from '@/layouts/BaseLayout'
import TitlePage from '@/components/TitlePage'
---

<BaseLayout title='Tags'>
	<TitlePage title='Trading view' />
	<div style='width: 90vw;height: 700;'>
		<iframe
			width='100%'
			height='700%'
			src='https://api.oneblock.vn/be/static/tradingview-heatmap-wg.html'></iframe>
	</div>
	

</BaseLayout>
