---
import BaseLayout from '@/layouts/BaseLayout'
import TitlePage from '@/components/TitlePage'
---

<BaseLayout title='Tags'>
	<TitlePage title='Trading view' />
	<div style='width: 80vw;'>
		<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
	<div class="tradingview-widget-container__widget"></div>
	<div class="tradingview-widget-copyright"><a href="https://vn.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Theo dõi mọi thị trường trên TradingView</span></a></div>
	<script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-crypto-coins-heatmap.js" async>
	{
	"dataSource": "Crypto",
	"blockSize": "market_cap_calc",
	"blockColor": "change",
	"locale": "vi_VN",
	"symbolUrl": "",
	"colorTheme": "dark",
	"hasTopBar": true,
	"isDataSetEnabled": true,
	"isZoomEnabled": true,
	"hasSymbolTooltip": true,
	"isMonoSize": false,
	"width": "100%",
	"height": "800"
  }
	</script>
  </div>
  <!-- TradingView Widget END -->
	</div>
	

</BaseLayout>
