name: Build on GitHub VM

on:  
  workflow_dispatch:  # Enables manual trigger

jobs:
  deploy:
    runs-on: ubuntu-latest
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v3
        with:
          version: 8 # Specify the desired pnpm version

      - name: Build Astro project
        run: node sync-mdx.cjs && pnpm install && npx astro build
        
      - name: Build & Deploy Worker
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: nAdHbRG7qfu68MBJe2w6bvB7yruaDbIs35KIgSdB
          accountId: f1e52499351d8597e286c9cdf879ceaa
